/* GOOGLE FONT

.tinos-regular {
  font-family: "Tinos", serif;
  font-weight: 400;
  font-style: normal;
}

.tinos-bold {
  font-family: "Tinos", serif;
  font-weight: 700;
  font-style: normal;
}

.tinos-regular-italic {
  font-family: "Tinos", serif;
  font-weight: 400;
  font-style: italic;
}

.tinos-bold-italic {
  font-family: "Tinos", serif;
  font-weight: 700;
  font-style: italic;
}
 */

#hero {
    padding-top: 300px;
    padding-bottom: 300px;
     color: rgb(252, 162, 102);
    font-family: tinos-regular;
}

#Logo { 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 200px;
    padding-left: 400px;
    padding-right: 400px;

    color: rgb(140, 146, 204);
    font-family: tinos-regular;
    background-color: rgb(255, 255, 255);
}

#glide{
     color: rgb(252, 162, 102);
    font-family: tinos-regular;
}

#explore {
    display: flex;
    justify-content: center;
    align-items: center;
}

#relax {
    display: flex;
    justify-content: center;
    align-items: center;
}

#stay {
    display: flex;
    justify-content: center;
    align-items: center;
}

#arrows {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 500px;

    position: relative;
    right: 100px;
}

#pictures {
    padding-bottom: 50px;
}

#exploreIMG {
    padding-right: 20px;
}

#relaxIMG {
    padding-right: 20px;
}

#stayIMG {
    padding-right: 20px;
}



#attractions{
    padding-top: 100px;
    padding-bottom: 500px;
    color: rgb(252, 162, 102);
    font-family: tinos-regular;
}
/* FLICKITY */
/* external css: flickity.css */

* { box-sizing: border-box; }

body { font-family: sans-serif; }

.carousel {
  background: #EEE;
}

.carousel-cell {
  margin-right: 20px;
  overflow: hidden;
}

.carousel-cell img {
  display: block;
  height: 200px;
}

@media screen and ( min-width: 768px ) {
  .carousel-cell img {
    height: 400px;
  }
}


#flights {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 55px;

    padding-bottom: 100px;
    color: rgb(51, 61, 155)
}

#partners{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    
}



#email{
    width: 500px;
}

#textarea{
    width: 500px;
    resize: none;
}

#form{
    display: flex;
    flex-direction: row;
}



