/* GOOGLE FONT

.tinos-regular {
  font-family: "Tinos", serif;
  font-weight: 400;
  font-style: normal;
}

.tinos-bold {
  font-family: "Tinos", serif;
  font-weight: 700;
  font-style: normal;
}

.tinos-regular-italic {
  font-family: "Tinos", serif;
  font-weight: 400;
  font-style: italic;
}

.tinos-bold-italic {
  font-family: "Tinos", serif;
  font-weight: 700;
  font-style: italic;
}
 */

 body {
    font-family: "Tinos", serif;
    color: #333;
    margin: 0;
    padding: 0;
 }

 img {
    max-width: 100%;
    height: auto;
    display: block;
 }

 /* HERO Section */
#hero {
    padding: 120px 20px;
     color: rgb(252, 162, 102);
    text-align: center;
}

#Logo { 
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    text-align: center;
    padding: 100px 20px;

    color: rgb(140, 146, 204);
    background: white;

}

#glide{
     color: rgb(252, 162, 102);
    padding: 60px 10px;
}

#explore {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 15px;
}

#relax {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 15px;
}

#stay {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 15px;
}

#arrows {
    display: flex;
    justify-content: space-between;
    padding: 10px 40px;
    
}


#attractions{
    padding: 80px 0;
    text-align: center;
    color: rgb(252, 162, 102);
    
}
/* FLICKITY */
/* external css: flickity.css */

* { box-sizing: border-box; }

body { font-family: sans-serif; }

.carousel {
  background: #EEE;
}

.carousel-cell {
  margin-right: 20px;
  overflow: hidden;
}

.carousel-cell img {
  display: block;
  height: 200px;
}

@media screen and ( min-width: 768px ) {
  .carousel-cell img {
    height: 400px;
  }
}


#flights {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

    padding: 80px 20px;
    color: rgb(51, 61, 155)
}

#form {
    display: flex;
    flex-direction: column;
    gap: 20px;

    width: 100%;
    max-width: 350px;
    text-align: center;
}

#email {
    width: 100%;
    padding: 12px;
}

textarea {
    width: 100%;
    padding: 12px;
    resize: none;
}

#partners {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding-top: 10px;
}


/* >768px Tablet & Desktop */

@media screen and (min-width:768px) {
    
    #hero {
        padding: 200px 40px;

    }

    #Logo {
        flex-direction: row;
        justify-content: center;
        text-align: left;
        padding: 150px 40px;
    }

    #explore, #relax, #stay {
        flex-direction: row;
        text-align: left;
    }

    #arrows {
        gap: 120px;
    }

    #form {
        flex-direction: row;
        justify-content: center;
    }

    #email{
        max-width: 350px;

    }

    #textarea {
        max-width: 350px;
    }


}
 
